*{
    padding:  0;
    margin:  0;
    box-sizing: boder-box;
   -webkit-box-sizing: boder-box;
    -moz-box-sizing: boder-box;
}

a{
    text-decoration: none;
    color: #fff;
}
ol,ul,li{
    list-style-type: none;
}
body{
    font-size: 15px;
    font-family: Roboto,sans-serif;
    background-color: #fff;
    font-weight: 400;
    overscroll-behavior: none;
}
%display-inline-block{
    display: inline-block;
    vertical-align: middle;
}
@mixin position_image($pad){
    position: relative;
    &::before{
        content:'';
        display: block;
        padding-top: $pad;
    }
    img{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
    }
}
// ************
@mixin flex-rowORcol($rowOrcol){
    display: flex;
    flex-direction: $rowOrcol;
    @content;
}
%flex-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}
//BEGIN--- padding and margin 
//paddig
.p-15{
    padding: 1em  0;
}
// margin
.m-tb-15{
    margin-top: 1em;
    margin-bottom: 1em;
}
.m-rl-15{
    margin-left: 1em;
    margin-right: 1em;
}
.m-r-15{
    margin-right: 1em;
}
.m-l-15{
    margin-left: 1em;
}
//END--- padding and margin 

//BEGIN -- scope trang
%container-1000{
    width: 1026px;
    margin: 0 auto;
}
// .container-1000{
//     width: 1026px;
//     margin: 0 auto;
// }
//END -- scope trang

// backgroup style
%t-bg-img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
// button style
.t-btn{
    border-radius: .3em;
    padding: .5em 1.1em;
    color: #fff;
    font-weight: 600;
}
// TOP
.top-bar{
    padding-top: 0.5px;
    padding-bottom: 10px;
    width: 100%;
    height: auto;
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 0 5px 15px 0 #1e0035;
    background-color: #0D021A;
    .t-top-bar{
        .container-1000{ @extend %container-1000}
        .flex-top{
            @include flex-rowORcol(row){
                justify-content: space-between;
            };
            margin-top: 1.5em;
            .flex-item-1{
                width: auto;
                flex-grow: 1;
            }
            .flex-item-2{
                width: auto;
                flex-grow: 3;
            }
            .flex-item-3{
                width: auto;
                flex-grow: 1;
            }
        }
        .logo{
            .t-logo{
                width: 100px;
                background-image: url('../../img/logo-mp-3.svg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 100px;
                height: 30px;
                font-size: 0;
                display: block;
            }
        }
        .header-search{
            .f-top-search{
                margin: 0 auto;
                border: 1px solid rgba(219,219,219,.5);
                border-radius: 20px;
                span{  
                    font-size: 1em;
                    a{
                        i{
                            cursor: pointer;
                            color:#495057;
                            font-weight: 600;
                        }
                    }
                    .ip-txt{
                        width: 80%;
                        height: 34px;
                        line-height: 34px;
                        border: none;
                        background-color: transparent;
                        &:focus{
                            outline: none;
                        }
                    }
    
                }
            }
        }
        .header-top-right{
            font-size: 1.2em;
            .t-top-right{
                .flex-top-right{
                    @include flex-rowORcol(row){
                        justify-content: flex-end;
                    };
                    .t-item-1{
                        width: auto;
                        margin-left: 1em;
                    }
                    .t-item-2{
                        width: auto;
                        margin-left: 1em;
                    }
                    .t-item-3{
                        width: auto;
                        margin-left: 1em;
                    }
                }
                .t-inline{
                    display: inline-block;
                    cursor: pointer;
                    text-align: center;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    border-radius: 50px;
                    background-color: #231f3b;
                    &:hover{
                        background-color: #220c38;
                    }
                }
                .t-hover{
                    &:hover{
                        color: #6e55b4;
                    }
                }
                .t-upload{
                    text-decoration: none;
                    i{
                        color: #928e8e; 
                    }
                }
                .t-noti{
                    text-decoration: none;
                    i{
                        color: #928e8e; 
                    }     
                }
                .t-login{
                    cursor: pointer;
                    a{
                        i{
                            color: #fff; 
                        }
                    }
                    span{
                        margin-left: .5em;
                        font-size: .7em;
                        font-weight: 600;
                        color: #32323d;
                    }
                }
    
            }
        }
        .top-menu{
            margin-top: 2em;
            .flx-menu{
                @include flex-rowORcol(row){
                    justify-content: flex-start;
                    align-items: center;
                };
                height: 50px;
                line-height: 50px;
                .t-item-menu{
                    cursor: pointer;
                    font-size: 1em;
                    text-decoration: none;
                    color: #fff;
                    font-weight: 600;
                    margin-left: .7em;
                    &:hover{
                        color: #6e55b4;
                    }
                }
                .t-vip{
                    width: 50px;
                    height: 25px;
                    background-image: url(https://zjs.zadn.vn/zmp3-desktop/releases/v0.1.28/images/VIP-1x.svg) ;
                    @extend %t-bg-img;
                }
            }
        }
    }
}

// home
.t-main{
    display: block; 
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: #0D021A;
    .container-1000{@extend %container-1000}
    .sec-slide-big{
        .silder{
            width: 100%;
            scroll-behavior: none;
            img{
                max-width: 100%;
            }
        }
    }
    .sec-login{
        .t-sec-login{
            background-image: url(https://zjs.zadn.vn/zmp3-desktop/releases/v0.1.28/images/banner-bg.svg);
            @extend %t-bg-img;
            height: 70px;
            line-height: 70px;
            margin-top: 2em;
            .flex-login-body{
                @include flex-rowORcol(row){
                    justify-content: center;
                    align-items: center;
                };
                .ic-mp3{
                    background-image: url(https://zjs.zadn.vn/zmp3-desktop/releases/v0.1.28/images/logo-mp-3.png);
                    @extend %t-bg-img;
                    display: block;
                    width: 50px;
                    height: 50px;
                    margin-right: 100px;
                }
                .txt-advide{
                    color: #fff;
                    display: block;
                    font-size: 1em;
                    font-weight: 600;
                    margin-right:100px;
                }
                .btn-login{
                    background-color: #fdd100;
                    &:hover{
                        background-color: #fff;
                        color: #6e55b4;
                    }
                    
                }
                
    
            }
        }
    }
    .slider-list-title{
        @include flex-rowORcol(row){
            justify-content: space-between;
        };
        .t-title{
            font-weight: 700;
            font-size: 24px;
            color:#fff;
        }
        .btn-next-prev{
            color:#fff;
            cursor: default;
            .btn-prev{
                cursor: pointer;
                &:hover{
                    color: #9877FF;
                }
            }
            .btn-next{
                cursor: pointer;
                &:hover{
                    color: #9877FF;
                }
            }

        }
    }
    .sec-slider-list{
        .slider-list{
            margin-top: 3em;
            display: block;
            @extend .slider-list-title;
            .slider-items{
                margin-top: 1em;
                .flex-row-slider{
                    @include flex-rowORcol(row){
                        justify-content: space-around;
                    };
                    .slider-item{
                        +.slider-item{
                            margin-left: 2em;
                        }
                    }
                    .t-cards{
                        .t-cards-img{
                            a{
                                img{
                                    max-width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .sec-charts{
        margin-bottom: 5px;
        .t-flex-charts{
            @include flex-rowORcol(row){
                justify-content: start;
            };
            margin-top: 45px;
            .chart-col-left{
                flex-basis: 700px;
            }
            .chart-col-right{
                flex-basis: 326px;
            }
            .t-chart-realtime{
                display: block;
                height: 380px;
                background-image: url(https://zjs.zadn.vn/zmp3-desktop/releases/v0.1.28/images/bg-chart.jpg);
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                position: relative;
                .realtime-header{
                    position: absolute;
                    top: 0;
                    left: 21px;
                    width: 94%;
                    height: 70px;
                    line-height: 70px;
                    .flex-realtime{
                        @include flex-rowORcol( row ){
                            justify-content: flex-start;
                        };
                        .btn-zingchart{
                            text-align: right;
                            a{
                                font-size: .7em;
                                padding: .7em .8em;
                                border-radius: 15em;
                                background-color: #6e55b4;
                                color: #fff;
                                font-weight: 700;
                                &:hover{
                                    background-color: #fff;
                                    color: #6e55b4;
                                }
                            }
                        }
                        .time-now{
                            margin-left: 3em;
                            p{
                                color: #fff;
                                font-size: 13px;
                            }
                        }
                        .btn-listen-all{
                            flex-grow: 1;
                            text-align: right;
                            a{
                                font-size: .7em;
                                padding: 1em 1em;
                                border-radius: .5em;
                                background-color: #6e55b4;
                                color: #fff;
                                i{
                                    margin-right: .4em;
                                }
                                &:hover{
                                    background-color: #fff;
                                    color: #6e55b4;
                                }
                            }
                        }
                    }
                }
            }
            .t-list-song{
                display: block;
                height: 380px;
                background-image: url(https://zjs.zadn.vn/zmp3-desktop/releases/v0.1.28/images/bg-chart.svg);
                @extend %t-bg-img;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                .t-list{
                    @include flex-rowORcol(column){
                        justify-content: center;
                    };
                    padding: 1em 0;
                    .flex-col-item{
                        width: 100%;
                        padding: 0 10px;
                        box-sizing: border-box;
                        -webkit-box-sizing: boder-box;
                        -moz-box-sizing: boder-box;
                    }
                    .cards-rank{
                        @include flex-rowORcol(row){
                            justify-content: start;
                        };
                        color: #fff;
                        padding: 5px 10px ;
                        border-radius: 5px;
                        box-sizing: border-box;
                        -webkit-box-sizing: boder-box;
                        -moz-box-sizing: boder-box;
                        opacity: 1;
                        width: 100%;
                        &:hover{
                            background-color: rgba(255,255,255,.15);
                            .singer-song{
                                .image-singer{
                                    .t-membrane{
                                        display: flex;
                                        a{
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                        .t-number{
                            font-size: 1.3em;
                            margin-top: 14px;
                            cursor: default;
                        }
                        .second{
                            color: #50e3c2;
                        }
                        .third{
                            color: #e4340d;
                        }
                        .fist{
                            color:#4a90e2;
                        }
                        .singer-song{
                            @include flex-rowORcol(row){
                                justify-content: start;
                                align-items: center;
                                align-content: center;
                            };
                            margin-left: 10px;
                            line-height: 0;
                            .image-singer{
                                position: relative;
                                flex-basis: 50px;
                                img{
                                    display: inline-block;
                                    border-radius: 7px;
                                    max-width: 100%;
                                }
                                .t-membrane{
                                    display: none;
                                    position: absolute;
                                    border-radius: 7px;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    width: 100%;
                                    background-color: rgba(72,72,72,.7);
                                    @extend %flex-row;
                                    justify-content: center;
                                }
                            }
                            .t-song{
                                margin-left: 10px;
                                display: flex;
                                flex-flow: column wrap ;
                                .name-song{
                                    cursor: default;
                                    a{
                                        font-size: 13px;
                                        color: #fff;
                                        font-weight: 700;
                                    }
                                }
                                .t-singer{
                                    font-size: 11px;
                                    padding-top: 20px;
                                    a{
                                        color: #fff;
                                        &:hover{
                                            color: #9877FF;
                                        }
                                    }
                                }
                            }
                        }
                        .t-percent{
                            font-size: 13px;
                            cursor: default;
                            margin-top: 14px;
                        }
                    }
                    .t-all{
                        margin-top: 1.5em;
                        text-align: center;
                        a{
                            color: #fff;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        .week-chart{
            margin-top: 2em;
            .t-week-chart{
                @include flex-rowORcol(row){
                    justify-content: center;
                };
                >.week-chart-item{
                    width:256.5px;
                    height: 70px;
                    overflow: hidden;
                    cursor: pointer;
                    img{
                        max-width: 100%;
                        height: 100%;
                        border-radius: 7px;
                        transition: transform 1s ease ;
                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                    +.week-chart-item{
                        margin-left: 1em;
                        border-radius: 7px;
                    }
                }
            }
        }
    }
    .sec-slider-none-focus{
        .slider-singer-song{
            margin-top: 3em;
            display: block;
            @extend .slider-list-title;
            .cards-list{
                @extend %flex-row;
                justify-content: space-between;
                .card-item{
                    flex-grow: 1;
                    +.card-item{
                        margin-left: 1em;
                    }
                    .t-card-item{
                        width: 100%;
                        margin-top: 15px;
                        .cards-wrap{
                            background-image: url(https://zjs.zadn.vn/zmp3-desktop/releases/v0.1.28/images/spotlight-bg-dark.png);
                        }
                        .cards-new-issue{
                            background-color: #220c38;
                        }
                        .cards-wrap,.cards-new-issue{
                            border-radius: 5px;
                            padding: 10px 15px;
                            cursor: pointer;
                            @extend %t-bg-img;
                            .t-cards{
                                @include flex-rowORcol(row){
                                    justify-content: space-between;
                                }
                                .avatar{
                                    border-radius: 50%;
                                    a{
                                        img{
                                            border-radius: 50%;
                                        }
                                    }
                                    &:hover{
                                        .t-avatar{
                                            a{
                                                img{
                                                    transform: scale(1.1);
                                                }
                                            }
                                        }
                                    }

                                }
                                .avatar-issue{
                                    border-radius: 15px;
                                    a{
                                        img{
                                            border-radius: 15px;
                                        }
                                    }
                                    &:hover{
                                        .t-avatar{
                                            a{
                                                img{
                                                    transform: scale(1.1);
                                                }
                                            }
                                            .t-opacity{
                                                display: block;
                                            }
                                        }
                                    }
                                }
                                .avatar,.avatar-issue{
                                    flex-basis: 120px;
                                    overflow: hidden;
                                    &:hover{
                                        .t-avatar{
                                            .t-play{
                                                display: block;
                                            }
                                        }
                                    }
                                    .t-avatar{
                                        position: relative;
                                            a{
                                                img{
                                                    max-width: 100%;
                                                    transition: transform 1s ease;
                                                }
                                            }
                                        .t-play{
                                            position: absolute;;
                                            top: 50%;
                                            left:50%;
                                            display: none;
                                            transform: translate(-50%,-50%);
                                            font-size: 2.3em;
                                            color: #fff;
                                            z-index: 889;
                                        }
                                        .t-opacity{
                                            background-color: rgba(72,72,72,.7);
                                            position: absolute;;
                                            display: none;
                                            top: 0;
                                            left: 0;
                                            right: 0;
                                            bottom: 0;
                                            z-index: 888;
                                        }
                                        
                                    }
                                }
                                .new-issue-caption{
                                    text-align: left;
                                    margin-right: 1em;
                                    .song-singer-top{
                                        margin-bottom: 22px;
                                        .song{
                                            font-size: 1.1em;
                                            font-weight: 700;
                                            a{
                                                color: #fff;
                                            }
                                        }
                                        .singer{
                                            font-size: .8em;
                                            a{
                                                color:#a0a0a0;
                                                &:hover{
                                                    color: #9877FF;
                                                }
                                            }
                                        }
                                    }
                                    .rank-bot{
                                        width: 100%;
                                        .rank-number{
                                            display: inline-block;
                                            a{
                                                -webkit-text-stroke: 2px #6645c1;
                                                font-size: 50px;
                                                font-weight: 900;
                                                color: transparent;
                                            }
                                        }
                                        .rank-time-now{
                                            display: inline-block;
                                            padding-left: 9px;
                                            a{
                                                color:#a0a0a0;
                                            }
                                        }
                                    }
                                }
                                .t-caption{
                                    margin-right: 1em;
                                    text-align: right;
                                    .btn-zingchoice{
                                        padding: 2px 7px;
                                        border-radius: 5px;
                                        background: linear-gradient(to right,#f508b7,#9102ff);
                                        color: #fff;
                                        font-size: 12px;
                                        font-weight: 700;
                                        i{
                                            font-size: 11px;
                                        }
                                        span{
                                            padding-left: 5px;
                                        }
                                    }
                                    .t-bot{
                                        padding-top: 1em;
                                    }
                                    .t-name{
                                        font-size: 18px;
                                        font-weight: 600;
                                        color: #fff;
                                    }
                                }
                            }

                        }
                        
                    }
                }
            }
        }
    }
    .sec-new-song{
        width: 100%;
        .t-table{
            margin-top: 2em;
            @include flex-rowORcol(row){
                justify-content:start;
            }
            .t-col-4{
                flex-basis: 342px;
                +.t-col-4{
                    padding-left: 1em;
                }
            }
            .new-song-list{
                @include flex-rowORcol(column){
                    justify-content: start;
                };
                .new-song-item{
                    cursor: default;
                    position: relative;
                    padding: 10px;
                    .content-song{
                        height: 40px;
                        width: 100%;
                        flex-wrap: nowrap;
                        @include flex-rowORcol(row){
                            justify-content: space-between;
                            align-items: center;
                        }
                    }
                    .item-opac{
                        
                    }
                    .t-img-sing{
                        width: 40px;
                        border-radius: 5px;
                        cursor: pointer;
                        a{
                            img{
                                max-width: 100%;
                                border-radius: 5px;
                            }
                        }
                    }
                    .t-center{
                        flex-grow: 1;
                        padding-left: 15px;
                    }
                    .t-right{
                        flex-grow: 2;
                    }
                    .t-name-song{
                        .t-song{
                            padding-bottom: 5px;
                            a{
                                font-size: 15px;
                                font-weight: 700;
                                cursor: default;
                            }
                        }
                        .t-sing{
                            cursor: pointer;
                            a{
                                font-size: 13px;
                            }
                        }
                    }
                    .mic-extend{
                        background-color: #2a1b39;
                        text-align: right;
                        .t-mic-extend{
                            padding: 5px;
                        }
                        %hover-mic-extend{
                            &:hover{
                                border-radius: 50%;
                                background-color:rgba(255,255,255,.101961);
                            }
                        }
                        .t-mic{
                            @extend %display-inline-block;
                            width: 30px;
                            height:30px;
                            line-height: 30px;
                            text-align: center;
                            @extend %hover-mic-extend;
                            a{
                                color: #fff;
                                font-size: 11px;
                            }
                        }
                        .t-extend{
                            @extend %display-inline-block;
                            width:30px;
                            height:30px;
                            line-height: 30px;
                            text-align: center;
                            @extend %hover-mic-extend;
                            a{
                                color: #fff;
                                font-size: 11px;
                            }
                        }
                    }
                }
            }
        }
    }
    
}